@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-display: "Cinzel", ui-serif, Georgia, serif;

  --color-gothic-950: #000000;
  --color-gothic-900: #05020a;
  --color-gothic-800: #0a0515;
  --color-gothic-border: rgba(255, 255, 255, 0.08); /* Transparent borders for glass */
}

body {
  background-color: var(--color-gothic-950);
  color: #f5f5f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

/* Glassy Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
